section.profile {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: darken($color: $card-background, $amount: 2);
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);

    h2 {
        height: 10%;
    }

    div.buttons {
        margin-top: 10px;
        text-align: end;
    }
}
