@tailwind utilities;
@import "variables";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),
        url("/public/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),
        url("/public/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Italic";
    src: local("Lato-Italic"),
        url("/public/fonts/Lato-Italic.ttf") format("truetype");
}

div.page {
    margin: 0;
    min-height: calc(90vh - 110px);
    font-family: Lato-Regular, serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    button {
        font-family: Lato-Bold, serif;
    }

    a {
        text-decoration: none;
        color: #212121;
    }
}

@media (max-width: $layout-breakpoint-small) {
    header.app-header {
        position: sticky;
        top: 0;
        z-index: 4;
    }
    .hidden-s {
        display: none;
    }
}

@media (max-width: $layout-breakpoint-extra-small) {
    .hidden-xs {
        display: none !important;
    }
}

section.main-paragraph {
    a.ffhb-link {
        color: $base-blue;
        font-weight: bold;
    }
}

article.home-content {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: $card-background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    section.footer-paragraph {
        font-weight: bold;
    }
}

.carousel__dot {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    margin: 0 4px;
    padding: 0;
    background-color: #c3c4ca;
}

.carousel__dot--selected {
    width: 16px;
    height: 8px;
    border-radius: 10px;
    background-color: #6267a1;
    transition: background 0.4s ease;
}

div#headlessui-portal-root div.modal {
    margin: auto;
    background: $card-background;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

    form.form-submit {
        margin: 15px auto;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div.buttons {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
        }
    }
}

@import "layout.scss";
@import "Pages/AddUser";
@import "Pages/AddMatch";
@import "Pages/Dashboard";
@import "Pages/DashboardMatchs";
@import "Pages/Matchs";
@import "Pages/Teams";
@import "Pages/UpdateMatch";
@import "Pages/Volunteers";
@import "Pages/Login";
@import "Pages/Profile";
@import "Pages/ResetPassword";
@import "Components/Atoms/Button";
@import "Components/Atoms/Input";
@import "Components/Atoms/Logout";
@import "Components/Atoms/Navlink";
@import "Components/Atoms/RadioInput";
@import "Components/Atoms/Select";
@import "Components/Atoms/Switch";
@import "Components/Atoms/TeamCard";
@import "Components/Atoms/FooterLink";
@import "Components/Molecules/DashboardLink";
@import "Components/Molecules/Navbar";
@import "Components/Organisms/Footer";
@import "Components/Organisms/Header";
@import "Components/Organisms/MatchCard";
@import "Components/Organisms/RegistrationVolunteerModal";
@import "Components/Organisms/VolunteerSelection";
@import "Components/Organisms/Pagination";
@import "Components/Organisms/BurgerMenu";
@import "Components/Organisms/ICSUploadButton";
