@tailwind utilities;
@import "variables";
@import "./normalize.css";

@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),
        url("/public/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),
        url("/public/fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Lato-Italic";
    src: local("Lato-Italic"),
        url("/public/fonts/Lato-Italic.ttf") format("truetype");
}

div.page {
    margin: 0;
    min-height: calc(90vh - 110px);
    font-family: Lato-Regular, serif;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    button {
        font-family: Lato-Bold, serif;
    }

    a {
        text-decoration: none;
    }
    a,
    a:visited {
        color: $text-color;
    }
}

@media (max-width: $layout-breakpoint-small) {
    header.app-header {
        position: sticky;
        top: 0;
        z-index: 4;
    }
    .hidden-s {
        display: none;
    }
    table.app-table {
        font-size: 0.8em;
        button {
            font-size: 0.9em;
        }
    }
}

@media (max-width: $layout-breakpoint-extra-small) {
    .hidden-xs {
        display: none !important;
    }
}

article.home-content {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: $card-background;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    h2 {
        text-align: center;
    }

    section {
        text-align: justify;
    }

    section.main-paragraph {
        margin-bottom: 40px;
    }

    section.footer-paragraph {
        font-weight: bold;
    }
}

@import "layout.scss";
@import "Pages/AddUser";
@import "Pages/AddMatch";
@import "Pages/Dashboard";
@import "Pages/DashboardMatchs";
@import "Pages/Matchs";
@import "Pages/Teams";
@import "Pages/UpdateMatch";
@import "Pages/Volunteers";
@import "Pages/Login";
@import "Pages/Profile";
@import "Pages/ResetPassword";
@import "Components/Atoms/Button";
@import "Components/Atoms/Input";
@import "Components/Atoms/Logout";
@import "Components/Atoms/Navlink";
@import "Components/Atoms/RadioInput";
@import "Components/Atoms/Select";
@import "Components/Atoms/Switch";
@import "Components/Atoms/TeamCard";
@import "Components/Atoms/FooterLink";
@import "Components/Molecules/DashboardLink";
@import "Components/Molecules/Navbar";
@import "Components/Organisms/Footer";
@import "Components/Organisms/Header";
@import "Components/Organisms/MatchCard";
@import "Components/Organisms/RegistrationVolunteerModal";
@import "Components/Organisms/VolunteerSelection";
@import "Components/Organisms/Pagination";
@import "Components/Organisms/BurgerMenu";
