@import "tailwindcss";

@theme {
    --color-primary: #0240b7;
    --color-button-hover: aliceblue;
    --color-text: #212121;
    --color-card: #eef2fc;
    --color-button-disabled: #cecdcc;
    --color-button-error: #cfd2de;
    --color-input-error: #ab3a68;
}

@font-face {
    font-family: "Lato-Regular";
    src: local("Lato-Regular"),
        url("/public/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),
        url("/public/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Italic";
    src: local("Lato-Italic"),
        url("/public/fonts/Lato-Italic.ttf") format("truetype");
}

/* Global styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
